* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*--- FONTS---*/

$title-font: "Merriweather", serif;
$text-font: "Oswald", sans-serif;

/*--- COLORS ---*/

$background: #99621e;
$titles: #247ba0;
$links: #fa8334;
$bg-nav: rgba(37, 37, 37, 0.8);
$bg-footer: rgb(37, 37, 37);
$bg-article: rgb(233, 233, 233);

/*--- HEADER/NAVBAR ---*/

/* Header */

header {
  display: flex;
  flex-direction: column;
  .header {
    background-color: $bg-article;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 10px;
    a {
      img {
        width: 150px;
        margin-right: 20px;
      }
    }
    h1{
      font-family: $title-font;
      font-size: 2.5rem;
      padding: 0 100px;
    }
    ul {
      display: flex;
      justify-content: center;
      margin-left: 20px;
      list-style: none;
      li {
        font-size: 1.5rem;
        font-family: $title-font;
        color: $links;
        margin-right: 20px;
      }
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      background: $bg-nav;
      height: 70px;
      width: 100%;
      li {
        padding: 2px 10px;
        font-size: 3rem;
        a {
          font-family: $title-font;
          text-decoration: none;
          color: #fff;
          transition: 0.8s;
          border: 3px solid transparent;
          padding: 2px 40px;
          &:hover {
            border: 3px solid $links;
            border-radius: 10px;
            padding: 2px 10px;
            margin-left: 30px;
            margin-right: 30px;
          }
        }
      }
    }
  }
}

/* --- MAIN --- */

/* Carousel */

.carousel {
  background: $background;
}

.carousel-cell {
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}

/* Vignettes */

.vignettes {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    li {
      font-family: $title-font;
      font-size: 2rem;
      margin: 0 100px;
      img {
        width: 150px;
        margin-bottom: 20px;
      }
    }
  }
}

/* Article présentation */

.factory {
  display: flex;
  align-items: center;
  background: $bg-article;
  border-bottom: 2px solid #fff;
  .image {
    display: flex;
    align-items: center;
    width: 25%;
    img {
      width: 100%;
    }
  }
  .description {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 50px;
    margin-bottom: 50px;
    h3 {
      font-size: 5rem;
      font-family: $title-font;
      text-transform: uppercase;
      margin-bottom: 50px;
      padding: 50px;
      border-bottom: 3px solid $background;
      border-radius: 5px;
    }
    p {
      font-size: 3rem;
      font-family: $text-font;
    }
  }
}

/* PARALLAX 1 */

.parallax1 {
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
  background-image: url(./images/piscine-bois.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* Article activités intérieur */

.indoor-activities {
  display: flex;
  align-items: center;
  background: $bg-article;
  border-top: 2px solid #fff;
  padding-bottom: 50px;
  .description {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 50px;
    h3 {
      font-size: 5rem;
      font-family: $title-font;
      text-transform: uppercase;
      margin-bottom: 50px;
      padding: 50px;
      border-bottom: 3px solid $background;
      border-radius: 5px;
    }
    p {
      font-size: 3rem;
      font-family: $text-font;
    }
    .listes {
      margin-top: 30px;
      display: flex;
      justify-content: space-around;
      text-align: left;
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        li {
          font-size: 2.5rem;
          font-family: $text-font;
        }
        i {
          color: $background;
        }
      }
    }
  }
  .image {
    display: flex;
    align-items: center;
    width: 25%;
    img {
      width: 100%;
    }
  }
}

/* Article activités extérieur */

.outdoor-activities {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
  background: $bg-article;
  padding-bottom: 50px;
  .image {
    display: flex;
    align-items: center;
    width: 25%;
    img {
      width: 100%;
    }
  }
  .description {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 50px;
    h3 {
      font-size: 5rem;
      font-family: $title-font;
      text-transform: uppercase;
      margin-bottom: 50px;
      padding: 50px;
      border-bottom: 3px solid $background;
      border-radius: 5px;
    }
    p {
      font-size: 3rem;
      font-family: $text-font;
    }
    .listes {
      margin-top: 30px;
      display: flex;
      justify-content: space-around;
      text-align: left;
      ul {
        li {
          font-size: 2.5rem;
          font-family: $text-font;
        }
        list-style: none;
        display: flex;
        flex-direction: column;
        i {
          color: $background;
        }
      }
    }
  }
}

/* PARALLAX 2 */

.parallax2 {
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
  background-image: url(images/charpente.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* CARTES */

.cards {
  display: flex;
  justify-content: center;
  height: 100vh;
  .card1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $background;
    border: 2px solid #fff;
    text-align: center;
    padding: 50px;
    h4 {
      font-family: $title-font;
      font-size: 3rem;
      color: #fff;
    }
    p {
      font-family: $text-font;
      font-size: 2rem;
      color: #fff;
    }
    .logos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .logos1 img {
        width: 200px;
        margin: 50px;
      }
      .logos2 img {
        width: 200px;
        margin: 50px;
      }
    }
  }
  .card2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $background;
    border: 2px solid #fff;
    h4 {
      font-family: $title-font;
      font-size: 3rem;
      color: #fff;
    }
    .carousel {
      margin-top: 100px;
      width: 50%;
      .carousel-cell {
        width: 100%;
        height: 400px;
        counter-increment: carousel-cell;
      }
    }
  }
}

/* FOOTER */

/* section contact */

footer .contact1 {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .contact-text {
    h4 {
      font-family: $title-font;
      font-size: 4rem;
    }
    h5 {
      font-family: $text-font;
      font-size: 2rem;
    }
  }
  .contact-button {
    button {
      width: 250px;
      height: 70px;
      border: none;
      background-color: $background;
      border-radius: 10px;
      color: $links;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      font-family: $title-font;
      font-size: 2rem;
      transition: 0.8s;
      &:hover {
        background-color: $links;
        color: $titles;
      }
    }
  }
}

/* Section coordonnées */

footer .adress {
  height: 30vh;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    list-style: none;
    li {
      margin: 20px;
      color: #fff;
      font-family: $text-font;
      font-size: 2rem;
      font-weight: bold;
      h5 {
        font-family: $title-font;
        font-size: 2rem;
      }
      a {
        text-decoration: none;
        color: #fff;
        &:hover {
          color: $titles;
        }
      }
    }
  }
}

/* Section mentions légales */

footer .mentions {
  height: 8vh;
  background-color: $bg-footer;
  display: flex;
  justify-content: center;
  align-items: center;
  h6 {
    color: #fff;
    font-family: $title-font;
    font-size: 1.5rem;
  }
}

/* MEDIA QUERIES  ACCUEIL*/

@media screen and (max-width: 1420px) {
  .cards .card1 {
    .logos img {
      width: 150px !important;
    }
  }
}
@media screen and (max-width: 1245px) {
  .navbar ul li a {
    font-size: 2.5rem;
  }
  .cards .card1 {
    .logos img {
      width: 100px !important;
    }
  }
  article {
    .description {
      h3 {
        font-size: 3rem !important;
      }
      p {
        font-size: 2rem !important;
      }
      .liste1,
      .liste2,
      .liste3,
      .liste4 ul li {
        font-size: 2rem !important;
      }
    }
  }
}
@media screen and (max-width: 1085px) {
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .navbar ul li a {
    font-size: 2rem;
  }
  .vignettes {
    display: flex;
    justify-content: center;
  }
  .vignettes ul li {
    img {
      width: 100px !important;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  .cards {
    h4 {
      font-size: 2.5rem !important;
    }
    p {
      font-size: 1.5rem !important;
    }
  }
}
@media screen and (max-width: 1020px) {
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    .card1 {
      width: 100% !important;
      .logos img {
        width: 100px !important;
      }
    }
    .card2 {
      width: 100% !important;
      padding: 50px;
    }
  }
}
@media screen and (max-width: 970px) {
  .navbar ul li a {
    padding: 2px 5px;
  }
  .contact {
    .contact-text {
      h4 {
        font-size: 3rem !important;
      }
      h5 {
        font-size: 1.5rem !important;
      }
    }
    .contact-button {
      button {
        width: 170px !important;
        height: 50px !important;
        font-size: 1.5rem !important;
      }
    }
  }
}
@media screen and (max-width: 890px) {
  .navbar ul li a {
    font-size: 1.7rem;
  }
  .vignettes {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .vignettes ul {
    display: flex;
    flex-direction: column;
    li {
      padding: 50px;
    }
  }
  article {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .listes ul li {
      font-size: 2rem !important;
    }
    .liste1,
    .liste2 {
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 840px) {
  .cards {
    margin-bottom: 300px;
  }
  .mentions h6 {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 810px) {
  .header ul {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .navbar ul li a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 645px) {
  article .listes {
    .liste1,
    .liste2,
    .liste3,
    .liste4 {
      ul li {
        font-size: 1.5rem !important;
      }
    }
  }
  .contact {
    margin-top: 400px;
    .contact-text {
      h4 {
        font-size: 2rem !important;
      }
      h5 {
        font-size: 1rem !important;
      }
    }
    .contact-button {
      button {
        width: 150px !important;
        height: 30px !important;
        font-size: 1rem !important;
      }
    }
  }
  .adress {
    a img {
      width: 150px;
    }
    ul li {
      font-size: 1rem !important;
      h5 {
        font-size: 1.5rem !important;
      }
    }
  }
}
@media screen and (max-width: 570px) {
  article .listes {
    .liste1,
    .liste2,
    .liste3,
    .liste4 {
      ul li {
        font-size: 1rem !important;
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .navbar ul li {
    padding: 0;
  }
  .mentions h6 {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 380px) {
  .navbar ul li a {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

/* PAGE PRÉSENTATION */

/* Séction présentation */

.who {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: $bg-article;
  .album {
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 80px;
    #pic1 {
      border: 5px solid $bg-article;
      border-radius: 15px;
      z-index: 1;
    }
    #pic2 {
      margin-left: -600px;
      margin-top: 500px;
      border: 5px solid $bg-article;
      border-radius: 15px;
      z-index: 2;
    }
    #pic3 {
      margin-left: 200px;
      margin-bottom: 500px;
      border: 5px solid transparent;
      border-radius: 15px;
    }
  }
  .who-am-i {
    width: 50%;
    text-align: center;
    h1 {
      font-family: $title-font;
      font-size: 4rem;
      text-transform: uppercase;
      border-bottom: 3px solid $background;
      border-radius: 15px;
      margin-bottom: 50px;
    }
    h2 {
      font-family: $title-font;
      font-size: 3rem;
      text-transform: uppercase;
      border-bottom: 3px solid $background;
      border-radius: 15px;
      margin-bottom: 50px;
    }
    p {
      font-family: $text-font;
      font-size: 2rem;
      margin-bottom: 50px;
    }
  }
}

/* Séction horaires */

.hours {
  margin: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .bulles {
    margin-bottom: 150px;
    img {
      margin: 10px 100px;
      width: 250px;
      height: 250px;
      border: 3px solid $bg-article;
      border-radius: 100%;
    }
  }
  .hours-details h3 {
    font-family: $title-font;
    font-size: 2rem;
  }
}

/* Certificat dans parallax2 */

#certificate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 150px;
  }
  .valeur {
    text-align: center;
    h4 {
      font-family: $title-font;
      font-size: 4rem;
      border-bottom: 3px solid $background;
      border-radius: 15px;
    }
    p {
      font-family: $text-font;
      font-size: 2.5rem;
    }
  }
}

/* SECTION ACTIVITÉS, PRODUITS ET SERVICES */

.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  h4 {
    font-size: 4rem;
    font-family: $title-font;
    border-bottom: 3px solid $background;
    border-radius: 10px;
    padding: 10px;
  }
  .listing {
    display: flex;
    margin-top: 20px;
    padding: 50px;
    ul {
      margin: 0 100px;
      list-style-type: circle;
      li {
        font-family: $text-font;
        font-size: 1.8rem;
      }
    }
  }
}

/* PAGE RÉALISATIONS */

.rea-title {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: $title-font;
    font-size: 5rem;
    border-bottom: 3px solid $background;
    border-radius: 10px;
  }
}

/* Séction photos */

.rea-photos {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
  &::before {
    z-index: -1;
    display: block;
    content: "";
    position: absolute;
    top: 55%;
    left: 300px;
    right: 300px;
    height: 1px;
    margin-top: -1px;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: inherit;
  }
  .w3-bar button {
    margin: 50px 250px;
    border: 3px solid $background;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
    font-family: $title-font;
    &:active {
      background-color: $background;
      color: #fff;
    }
  }
  .w3-container {
    h2 {
      text-align: center;
      font-family: $title-font;
      font-size: 2.5rem;
      padding-top: 30px;
      padding-bottom: 80px;
    }
  }
}

/* Section albums */

.rea-photos {
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
}

/* PAGE CONTACT */

/* section commentaire */

.commentaire{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $bg-article;
  p{
    font-family: $text-font;
    font-size: 2.5rem;
  }
}

/* section formulaire de contact */

.contact{
  border: 10px solid #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: $background;
  &::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
  }
  .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    .contact-logo{
      position: absolute;
      top: 40px;
      width: 350px;
      height: calc(100% - 80px);
      background: $background;
      z-index: 1;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.6);
      ul{
        list-style: none;
        li{
          margin: 10px 0;
          color: #fff;
          font-size: 2rem;
          a{
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
    .contact-form{
      position: absolute;
      padding: 70px 50px;
      background: $bg-article;
      margin-left: 150px;
      padding-left: 250px;
      width: 100%;
      height: 100%;
      box-shadow: 0 50px 50px rgba(0, 0, 0, 0.6);
      h2{
        font-size: 2.4rem;
        font-family: $title-font;
        font-weight: 500;
      }
      .form-box{
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 30px;
        .inputBox{
          position: relative;
          margin: 0 0 35px 0;
        }
        .w50{
          width: 47%;
        }
        .w100{
          width: 100%;
        }
        input, textarea{
          width: 100% !important;
          padding: 5px 0;
          resize: none;
          font-size: 1.5rem;
          font-weight: 300;
          color: #333;
          background: $bg-article;
          border: none;
          border-bottom: 1px solid #777;
          outline: none;
          &:focus ~ span{
            transform: translateY(-20px);
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 1px;
            color: $links;
          }
          &:valid ~ span{
            transform: translateY(-20px);
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 1px;
            color: $links;
          }
        }
        textarea{
          min-height: 120px;
        }
        span{
          position: absolute;
          font-family: $title-font;
          left: 0;
          padding: 5px 0;
          font-size: 1.5rem;
          font-weight: 300;
          color: #333;
          transition: 0.5s;
          pointer-events: none;
        }
        input[type="submit"]{
          position: relative;
          cursor: pointer;
          background: $background;
          color: #fff;
          border: none;
          border-radius: 15px;
          max-width: 150px;
          padding: 12px;
          font-family: $title-font;
          &:hover{
            background: $links;
          }
        }
      }
    }
  }
}