@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*--- FONTS---*/
/*--- COLORS ---*/
/*--- HEADER/NAVBAR ---*/
/* Header */
header .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

header .header a img {
  width: 200px;
  margin-right: 20px;
}

header .header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  list-style: none;
}

header .header ul li {
  font-size: 3rem;
  font-family: "Merriweather", serif;
  color: #fa8334;
  margin-right: 20px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  background: rgba(37, 37, 37, 0.8);
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

header nav ul li {
  padding: 2px 10px;
  font-size: 3rem;
}

header nav ul li a {
  font-family: "Merriweather", serif;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border: 3px solid transparent;
  padding: 2px 40px;
}

header nav ul li a:hover {
  border: 3px solid #fa8334;
  border-radius: 10px;
  padding: 2px 10px;
  margin-left: 30px;
  margin-right: 30px;
}

/* --- MAIN --- */
/* Carousel */
.carousel {
  background: #99621e;
}

.carousel-cell {
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}

/* Vignettes */
.vignettes {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vignettes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  list-style: none;
}

.vignettes ul li {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  margin: 0 100px;
}

.vignettes ul li img {
  width: 150px;
  margin-bottom: 20px;
}

/* Article présentation */
.factory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e9e9e9;
  border-bottom: 2px solid #fff;
}

.factory .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.factory .image img {
  width: 100%;
}

.factory .description {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 50px;
}

.factory .description h3 {
  font-size: 5rem;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding: 50px;
  border-bottom: 3px solid #99621e;
  border-radius: 5px;
}

.factory .description p {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}

/* PARALLAX 1 */
.parallax1 {
  width: 100%;
  height: 50vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(./images/piscine-bois.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* Article activités intérieur */
.indoor-activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e9e9e9;
  border-top: 2px solid #fff;
  padding-bottom: 50px;
}

.indoor-activities .description {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 50px;
}

.indoor-activities .description h3 {
  font-size: 5rem;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding: 50px;
  border-bottom: 3px solid #99621e;
  border-radius: 5px;
}

.indoor-activities .description p {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}

.indoor-activities .description .listes {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

.indoor-activities .description .listes ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.indoor-activities .description .listes ul li {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
}

.indoor-activities .description .listes ul i {
  color: #99621e;
}

.indoor-activities .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.indoor-activities .image img {
  width: 100%;
}

/* Article activités extérieur */
.outdoor-activities {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e9e9e9;
  padding-bottom: 50px;
}

.outdoor-activities .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.outdoor-activities .image img {
  width: 100%;
}

.outdoor-activities .description {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 50px;
}

.outdoor-activities .description h3 {
  font-size: 5rem;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding: 50px;
  border-bottom: 3px solid #99621e;
  border-radius: 5px;
}

.outdoor-activities .description p {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}

.outdoor-activities .description .listes {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

.outdoor-activities .description .listes ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outdoor-activities .description .listes ul li {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
}

.outdoor-activities .description .listes ul i {
  color: #99621e;
}

/* PARALLAX 2 */
.parallax2 {
  width: 100%;
  height: 50vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(images/charpente.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* CARTES */
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.cards .card1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #99621e;
  border: 2px solid #fff;
  text-align: center;
  padding: 50px;
}

.cards .card1 h4 {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  color: #fff;
}

.cards .card1 p {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: #fff;
}

.cards .card1 .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards .card1 .logos .logos1 img {
  width: 200px;
  margin: 50px;
}

.cards .card1 .logos .logos2 img {
  width: 200px;
  margin: 50px;
}

.cards .card2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #99621e;
  border: 2px solid #fff;
}

.cards .card2 h4 {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  color: #fff;
}

.cards .card2 .carousel {
  margin-top: 100px;
  width: 50%;
}

.cards .card2 .carousel .carousel-cell {
  width: 100%;
  height: 400px;
  counter-increment: carousel-cell;
}

/* FOOTER */
/* section contact */
footer .contact {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contact .contact-text h4 {
  font-family: "Merriweather", serif;
  font-size: 4rem;
}

footer .contact .contact-text h5 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}

footer .contact .contact-button button {
  width: 250px;
  height: 70px;
  border: none;
  background-color: #99621e;
  border-radius: 10px;
  color: #fa8334;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

footer .contact .contact-button button:hover {
  background-color: #fa8334;
  color: #247ba0;
}

/* Section coordonnées */
footer .adress {
  height: 30vh;
  background-color: #99621e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .adress ul {
  list-style: none;
}

footer .adress ul li {
  margin: 20px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

footer .adress ul li h5 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}

footer .adress ul li a {
  text-decoration: none;
  color: #fff;
}

footer .adress ul li a:hover {
  color: #247ba0;
}

/* Section mentions légales */
footer .mentions {
  height: 8vh;
  background-color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .mentions h6 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
}

/* MEDIA QUERIES  ACCUEIL*/
@media screen and (max-width: 1420px) {
  .cards .card1 .logos img {
    width: 150px !important;
  }
}

@media screen and (max-width: 1245px) {
  .navbar ul li a {
    font-size: 2.5rem;
  }
  .cards .card1 .logos img {
    width: 100px !important;
  }
  article .description h3 {
    font-size: 3rem !important;
  }
  article .description p {
    font-size: 2rem !important;
  }
  article .description .liste1,
  article .description .liste2,
  article .description .liste3,
  article .description .liste4 ul li {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 1085px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .navbar ul li a {
    font-size: 2rem;
  }
  .vignettes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .vignettes ul li img {
    width: 100px !important;
  }
  .vignettes ul li h2 {
    font-size: 1.5rem;
  }
  .cards h4 {
    font-size: 2.5rem !important;
  }
  .cards p {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 1020px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 200px;
  }
  .cards .card1 {
    width: 100% !important;
  }
  .cards .card1 .logos img {
    width: 100px !important;
  }
  .cards .card2 {
    width: 100% !important;
    padding: 50px;
  }
}

@media screen and (max-width: 970px) {
  .navbar ul li a {
    padding: 2px 5px;
  }
  .contact .contact-text h4 {
    font-size: 3rem !important;
  }
  .contact .contact-text h5 {
    font-size: 1.5rem !important;
  }
  .contact .contact-button button {
    width: 170px !important;
    height: 50px !important;
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 890px) {
  .navbar ul li a {
    font-size: 1.7rem;
  }
  .vignettes {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .vignettes ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vignettes ul li {
    padding: 50px;
  }
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  article .listes ul li {
    font-size: 2rem !important;
  }
  article .liste1,
  article .liste2 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 840px) {
  .cards {
    margin-bottom: 300px;
  }
  .mentions h6 {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 810px) {
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar ul li a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 645px) {
  article .listes .liste1 ul li,
  article .listes .liste2 ul li,
  article .listes .liste3 ul li,
  article .listes .liste4 ul li {
    font-size: 1.5rem !important;
  }
  .contact {
    margin-top: 400px;
  }
  .contact .contact-text h4 {
    font-size: 2rem !important;
  }
  .contact .contact-text h5 {
    font-size: 1rem !important;
  }
  .contact .contact-button button {
    width: 150px !important;
    height: 30px !important;
    font-size: 1rem !important;
  }
  .adress a img {
    width: 150px;
  }
  .adress ul li {
    font-size: 1rem !important;
  }
  .adress ul li h5 {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 570px) {
  article .listes .liste1 ul li,
  article .listes .liste2 ul li,
  article .listes .liste3 ul li,
  article .listes .liste4 ul li {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 540px) {
  .navbar ul li {
    padding: 0;
  }
  .mentions h6 {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 380px) {
  .navbar ul li a {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

/* PAGE PRÉSENTATION */
/* Séction présentation */
.who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px;
  background-color: #e9e9e9;
}

.who .album {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 80px;
}

.who .album #pic1 {
  border: 5px solid #e9e9e9;
  border-radius: 15px;
  z-index: 1;
}

.who .album #pic2 {
  margin-left: -600px;
  margin-top: 500px;
  border: 5px solid #e9e9e9;
  border-radius: 15px;
  z-index: 2;
}

.who .album #pic3 {
  margin-left: 200px;
  margin-bottom: 500px;
  border: 5px solid transparent;
  border-radius: 15px;
}

.who .who-am-i {
  width: 50%;
  text-align: center;
}

.who .who-am-i h1 {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  text-transform: uppercase;
  border-bottom: 3px solid #99621e;
  border-radius: 15px;
  margin-bottom: 50px;
}

.who .who-am-i h2 {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  text-transform: uppercase;
  border-bottom: 3px solid #99621e;
  border-radius: 15px;
  margin-bottom: 50px;
}

.who .who-am-i p {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  margin-bottom: 50px;
}

/* Séction horaires */
.hours {
  margin: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hours .bulles {
  margin-bottom: 150px;
}

.hours .bulles img {
  margin: 10px 100px;
  width: 250px;
  height: 250px;
  border: 3px solid #e9e9e9;
  border-radius: 100%;
}

.hours .hours-details h3 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
}

/* Certificat dans parallax2 */
#certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#certificate img {
  width: 150px;
}

#certificate .valeur {
  text-align: center;
}

#certificate .valeur h4 {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  border-bottom: 3px solid #99621e;
  border-radius: 15px;
}

#certificate .valeur p {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
}

/* SECTION ACTIVITÉS, PRODUITS ET SERVICES */
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
}

.services h4 {
  font-size: 4rem;
  font-family: "Merriweather", serif;
  border-bottom: 3px solid #99621e;
  border-radius: 10px;
  padding: 10px;
}

.services .listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 50px;
}

.services .listing ul {
  margin: 0 100px;
  list-style-type: circle;
}

.services .listing ul li {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
}

/* PAGE RÉALISATIONS */
.rea-title {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rea-title h1 {
  font-family: "Merriweather", serif;
  font-size: 5rem;
  border-bottom: 3px solid #99621e;
  border-radius: 10px;
}

/* Séction photos */
.rea-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 150px;
}

.rea-photos::before {
  z-index: -1;
  display: block;
  content: '';
  position: absolute;
  top: 55%;
  left: 300px;
  right: 300px;
  height: 1px;
  margin-top: -1px;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: inherit;
}

.rea-photos .w3-bar button {
  margin: 50px 250px;
  border: 3px solid #99621e;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  font-family: "Merriweather", serif;
}

.rea-photos .w3-bar button:active {
  background-color: #99621e;
  color: #fff;
}

.rea-photos .w3-container h2 {
  font-family: "Merriweather", serif;
}
/*# sourceMappingURL=style.css.map */